@font-face {
    font-family: 'TheJamsil5Bold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2302_01@1.0/TheJamsil5Bold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: 'KCCChassam';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2302@1.0/KCCChassam.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

/* 태그에 대한 디자인 */
h1 {
    font-family: 'TheJamsil5Bold';
    font-size: 2rem;
    margin: 10px 0;
}

/* 각각 id에 따른 디자인 */
#clock {
    text-align: center;
    font-size: 3rem;
    margin: 30px 0;
    color: white;
    text-shadow: 0 0 8px black;
    /*블렌드 모드를 이용하여 포토샵의 레이어 효과 낼수 있다*/
    mix-blend-mode: multiply;
}
#greeting, #login-form, #todo-form {
    text-align: center;
}

/* todolist 디자인 */
#todolist {
    margin: auto; /*중앙정렬*/
    max-width: 400px;
    margin-top: 20px;
    padding: 0 30px;
}
#todolist li {
    font-family: 'KCCChassam';
    clear: both;
    margin: 5px 0;
}

#todolist li button {
    float: right;
}
#todolist li span {
    position:absolute;
    right: 60px;
    margin-top: 8px;
    font-size: 0.7rem;
}
#todolist li button {
    background-color: transparent;
    border: solid black 1px;
    border-radius: 20px;
    cursor: pointer;
    padding: 2px 5px;
}



/* input[type="text"], [type="submit"] */
input[type="text"] {
    font-family: 'KCCChassam';
    background-color: transparent;
    border: none;
    border-bottom: 1px white solid;
    color: white;
    font-size: 1.2rem;
}
input[type="text"]:focus {
    outline: none;
}
input[type="text"]::placeholder {
    color: rgba(255,255,255,0.7);
}

/* 버튼 디자인 */
input[type="text"]+input[type="submit"] {
    background-color: lightgray;
    border: none;
    border-radius: 20px;
    padding: 5px 7px;
}
/* 버튼에 마우스를 올렸을때*/
input[type="text"]+input[type="submit"]:hover {
    background-color: lightcoral;
}

.check {
    color: lightgray;
    text-decoration: line-through;
}

/* 태그를 숨기기 위해 작성 */
.hidden {
    display: none;
}