@font-face {
    font-family: 'TheJamsil5Bold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2302_01@1.0/TheJamsil5Bold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}

/* 태그에 대한 디자인 */
h1 {
    font-family: 'TheJamsil5Bold';
    font-size: 2rem;
    margin: 10px 0;
}

/* 각각 id에 따른 디자인 */
#clock {
    text-align: center;
    font-size: 3rem;
    margin: 30px 0;
    color: white;
    text-shadow: 0 0 8px black;
}
#greeting, #login-form, #todo-form {
    text-align: center;
}

/* input[type="text"], [type="submit"] */
input[type="text"] {
    background-color: transparent;
    border: none;
    border-bottom: 1px white solid;
    color: white;
}
input[type="text"]:focus {
    outline: none;
}
input[type="text"]::placeholder {
    color: rgba(255,255,255,0.7);
}

/* 버튼 디자인 */
input[type="text"]+input[type="submit"] {
    background-color: lightgray;
    border: none;
    border-radius: 20px;
    padding: 5px 7px;
}
/* 버튼에 마우스를 올렸을때*/
input[type="text"]+input[type="submit"]:hover {
    background-color: lightcoral;
}


/* 태그를 숨기기 위해 작성 */
.hidden {
    display: none;
}